# Database
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-postgres-db
DATABASE_URL=postgresql://your-postgres-user:your-postgres-password@db:5432/your-postgres-db

# App
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=change-me-in-production
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
NEXT_PUBLIC_CLOUDINARY_API_KEY=your-cloud-api-key
CLOUDINARY_URL=cloudinary://your-cloud-api-key:your-cloud-api-secret@your-cloud-name
